{% extends 'master.html' %}

{%block content2 %}
<div class="container" style="padding:20px;">
    <div class="d-block content top_content">
        <h1 class="title" style="color: black;">
            Know More About MY TIME - The Watch Store
            <hr>
        </h1>
        <p class="description">
            Helios- The Watch Store is India's largest multi-brand premium watch retailer 
            introduced by TITAN Company Limited. With a coveted range of 40+ international 
            brands and premium Indian brands, Helios collections are stylish, suave and chic. 
            Helios watch store is your one-stop destination for superior Swiss watches, classic 
            analog watches, modern digital watches and futuristic smartwatches from various 
            brands such as Annie Klein, Balmain, Armani Exchange, Bering, Coach, Diesel, Emporio 
            Armani, Fossil, Guess, Kenneth Cole, Lee Cooper, Michael Kors, Nebula, Obaku, Olivia 
            Burton, Police, Raga, Seiko, Seven Friday, Skagen, Titan, Tommy Hilfiger, Swarovski, 
            Ferrari, Fitbit, Fossil Smartwatch, Garmin, Mobvoi, Titan Smart, TraQ, Alpina, 
            Calvin Klein, Citizen, Favre Leuba, Frederique Constant, GC, Luminox, Movado, TAG 
            Heuer, Tissot, Versace, Victorinox, and Xylys. These cherished timepieces curated by 
            expert brands can become beautiful heirlooms to pass down from generation to 
            generation.
        </p>
        <p class="description">
            The Helios stores are spread over the country and house more than 10000+ watches. 
            Top branded watches from international luxury brands like TAG Heuer, Versace, Seiko, 
            Movado, Fossil, Citizen, Frederique Constant, Balmain, Diesel, Skagen, Swarovski, 
            Tommy Hilfiger, Victorinox, Emporio Armani, own pride of place in Helios’ brand 
            directory. We also house Titan Company watches like Nebula, Titan, Titan Smart and 
            Xylys. Currently, Helios services over 195+ stores in India across multiple cities 
            and is still expanding. With a variety of premium watch collections like no other 
            and backed by the trust of Titan, Helios is a perfect destination if you are looking 
            to buy branded watches online or at a store near you. Check out the store directory 
            for more information about the Helios watch store near you.
        </p>
        </div>
    </div>
</div>



{%endblock content2 %}